/* Base 스타일 작성 */
* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
  }
  
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1440px;    
  }

  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% );
  }
