/* CSS 작성 */


section{
    display: flex;
    
}

.today-discovery-title::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    font-size: bold;
    margin: 0 8px; 
    background-color: #c4c4c4;
    transform : translateY(1px);

}

.today-discovery-subtitle{
    color: #c4c4c4;
    font-size: medium;
    display: flex;
    align-items: center; 
}

.discovery-list{
    width: 1010px;
    height: 1020px;
    display: flex;
    flex-direction: column;
}
.title{ 
    display: flex;
    padding: 0 25px;
    top: -25px;
}


.item-header{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item-tea{
    display: flex;
    position: relative;
}
.ico-go{
    display: block;
    position: absolute;
    bottom: 100px;
    width: 42px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    float: left;

}

