/* CSS 작성 */

section{
    display: flex;
    align-items: center;
}
.title{
    display: flex;
    color: var(--black-color);
}

.today-discovery-title::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    font-size: bold;
    margin: 0 8px; 
    background-color: var(--border-color);
    transform : translateY(1px);

}

.title .today-discovery-subtitle{
    color: var(--border-color);
    font-size: medium;
}

.discovery-list{
    width: 1010px;
    height: 1020px;
    display: grid;
    grid-template-areas: 
    "item-header item-header item-header item-header"
    "item-body item-body item-body item-body"
    "item-footer item-footer item-footer item-footer";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em 1em;
}

/* 아이템 헤더 영역 */ 
.item-header{
    position: relative;
    grid-area: item-header;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item-header .item-tea{
    border: 1px solid  var(--border-color);
}
.item-header .item-vaseline{
    border: 1px solid  var(--border-color);

}

/* 아이템 바디 영역 */
.item-body{
    position: relative;
    grid-area: item-body;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.item-body .item-cream{
    border: 1px solid  var(--border-color);

}
.item-body .item-bibs{
    border: 1px solid  var(--border-color);

}
.item-body .item-hanssem{
    border: 1px solid  var(--border-color);

}
.item-body .item-dumpling{
    border: 1px solid  var(--border-color);

}

/* 아이템 푸터 영역 */
.item-footer{
    position: relative;
    grid-area: item-footer;
    display: flex;
    justify-content: space-around;
}

.item-footer .item-tissue{
    border: 1px solid  var(--border-color);
    
    
}
.item-footer .item-febreze{
    border: 1px solid  var(--border-color);
}
.item-footer .item-dyson{
    border: 1px solid  var(--border-color);
}

.ico-go{
    position: absolute;
    float: left;
    width: 42px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 10%;
}

    /* .item-body .ico-go{
    position: absolute;
    float: left;
    width: 42px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 10%;
}


.item-footer .ico-go{
    position: absolute;
    float: left;
    width: 42px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 10%;
} */

.item-vaseline:hover{
    border: 1px solid var(--blue-color);
}
.item-tea:hover{
    border: 1px solid var(--blue-color);
}
.item-cream:hover{
    border: 1px solid var(--blue-color);
}
.item-bibs:hover{
    border: 1px solid var(--blue-color);
}
.item-hanssem:hover{
    border: 1px solid var(--blue-color);
}
.item-dumpling:hover{
    border: 1px solid var(--blue-color);
}
.item-tissue:hover{
    border: 1px solid var(--blue-color);
}
.item-febreze:hover{
    border: 1px solid var(--blue-color);
}
.item-dyson:hover{
    border: 1px solid var(--blue-color);
}






   